<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; background-color: burlywood;">
    <div style="position: relative; top: 150px; width: 40%; left: 400px;">

        <p style="border: solid black;top: 40px; padding: 10px; align-self: center; align-items: center;
        background-color: aliceblue;"> <b>Welcome to the game of Chess!</b>,
             but with a twist (if you desire it ofcourse!) basic rules of Chess apply, 
            however for those who want to ride their luck, 
            on the board are three dice each randomised to give one piece out of all possible, 
            play only the pieces rolled and keep rolling for each turn. Last but not the least, 
            toggle between the different themes commemorating year-1 
            of Design Engineering and just have a good time!</p>
        </div>
        <div style="position: relative; top: 170px; width: 40%; left: 400px; align-items: center;">
            <p style="border: solid black;top: 40px; padding: 10px; align-items: center;
            background-color: aliceblue;align-content: center;">
              <span style="margin-left: 165px; font-weight: bold;">
                Choose your color wisely!
            </span>  
                  
            </p>
        </div>
    <form action="/" >
        <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 200px;">

            <option value="black" style="font-weight: bold;text-shadow: white;">White</option>
            <input type="text" id="in" name="txt" value="" style="padding: 5px; 
            border-radius: 3px; margin-right: 20px;">
            
            <option value="black" style="font-weight: bold;">Black</option>
            <input type="text" id="in" name="txt" value="" style="padding: 5px; border-radius: 3px;">
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">

            <button style="padding: 10px;font-weight: bold;
            border-radius: 3px; background-color: rgb(194, 186, 186);"  >Begin Game!</button>
        </div>
   </form>
</body>
</html>