*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../media/BackgroundThemes/math.jpg");
    background-repeat: repeat;
    background-size: 25% 52.5%;
}

.chessboard{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 10px 0px 10px -10px rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

.chessboard > .chessboard-square{
    width: calc(600px / 8);
    height: calc(600px / 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard > .chessboard-square[role="white"]{
    background: #2ecdf9;
}

.chessboard > .chessboard-square[role="black"]{
    background: #013780;
}

.chessboard > .chessboard-square:nth-child(1){
    border-top-left-radius: 8px;
}

.chessboard > .chessboard-square:nth-child(8){
    border-top-right-radius: 8px;
}

.chessboard > .chessboard-square:nth-child(57){
    border-bottom-left-radius: 8px;
}

.chessboard > .chessboard-square:nth-child(64){
    border-bottom-right-radius: 8px;
}

.chessboard > .chessboard-square::before{
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #3eb815;
    position: absolute;
    opacity: 0.50;
    visibility: hidden;
}

.chessboard > .chessboard-square.move::before{
    visibility: visible;
}

.chessboard > .chessboard-square.enemy::before{
    visibility: visible;
}

.chessboard > .chessboard-square.castling::before{
    visibility: visible;
}

.chessboard > .chessboard-square.from{
    background: #bd5c6c; 
}

.chessboard > .chessboard-square.to{
    background: #e27587;
}

.chessboard > .chessboard-square > img.chessboard-piece{
    max-width: 70px;
    width: 60px;
    height: auto;
    cursor: grab;
}

.chessboard > .chessboard-square > img.chessboard-piece:active{
    cursor: grabbing;
}

.player-card{
    padding: 2.5px 25px;
    display: flex;
    position: relative;
}

.player-card > .rows{
    display: flex;
    align-items: center;
    width: 100%;
}

.player-card > .row-1{
    cursor: pointer;
    border-radius: 6px;
    margin:2.5px;
}

.player-card > .row-1 > .text{
    margin: 0px 5px;
    color: #ffffff;
}

.player-card > .row-1 > .text > .status span{
    font-size: 14px;
}

.player-card.player-1 > .row-1{
    justify-content: flex-end;
}

.player-card.player-2 > .row-2{
    justify-content: flex-end;
}

.container{
    position: absolute;
    width: 75px;
    height: 300px;
    padding: 50px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 85%;
    align-items: center;
    display: flex;
    flex-direction: column; 
    background-color: rgba(1, 55, 128, 0.776);
    box-shadow: 0 15px 25px rgba(77, 77, 77, 0.15);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.dice-wrapper{
    position: absolute;
    top: 0%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
button{
    position: absolute;
    top: 75%;
    background-color: #2ecdf9;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    height: auto;
    width: 75px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.shake{
    animation: shake 0.2s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
}